<h2 mat-dialog-title>{{ data.company }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ data.position }}</h3>
  <p>{{ data.type }}</p>
  <p>{{ data.location }}</p>
  @if (data.minPay === data.maxPay) {
  <p>Expected pay: {{ data.minPay }}</p>
  } @else {
  <p>Expected pay: {{ data.minPay }} - {{ data.maxPay }}</p>
  } @if(data.closed) {
  <p style="font-weight: bold">CLOSED: {{data.closedReason}}</p>
  }
  <p>
    <a [href]="data.linkToCompanySite" target="_blank"> Company Site </a>
  </p>
  @if (data.linkToJobPost) {
  <p>
    <a [href]="data.linkToJobPost" target="_blank"> Job Post </a>
  </p>
  }
  <p>{{ data.descriptionOfJob }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
