<mat-card appearance="outlined">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
    id="options"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openEditDialog()">
      <mat-icon fontIcon="edit"></mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="openDeleteDialog()">
      <mat-icon fontIcon="delete"></mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>{{ application().company }}</mat-card-title>
    <mat-card-subtitle id="position-line"
      >{{ application().position | truncate : 26 }} :
      {{ application().jobType.name }}</mat-card-subtitle
    >
    <mat-card-subtitle>{{ application().location }}</mat-card-subtitle>
    <mat-card-subtitle
      >{{ application().dateApplied | date : "mediumDate" }} @if
      (application().closedReason) { -
      {{ application().dateClosed | date : "mediumDate" }}
      }
    </mat-card-subtitle>
    <mat-card-subtitle id="description">
      {{ application().description }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="openDialog()">More</button>
  </mat-card-actions>
</mat-card>
