mat-card {
  height: 14rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-card-actions {
  position: absolute;
  bottom: 0.1rem;
}


#position-line {
  font-size: 3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media (max-width: 600px) {
  #position-line {
    font-size: 5vw; /* Larger on small screens */
  }
}

@media (min-width: 1000px) {
  #position-line {
    font-size: 16px; /* Fixed size on large screens */
  }
}

#options {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Limit to three lines */
  max-height: calc(1.2em * 3); /* Adjust line height (1.2em) and number of lines (3) */
  line-height: 1.2em; /* Adjust line height to match your design */
}
