<h2 mat-dialog-title>Add Application</h2>
<mat-dialog-content class="mat-typography">
  <form #applicationForm="ngForm">
    <p>
      <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input
          required
          matInput
          placeholder="Google"
          name="company"
          [(ngModel)]="enteredCompany"
          #company="ngModel"
        />
        @if (company.invalid && (company.dirty || company.touched)) {
        <mat-error> Company Name is required </mat-error>
        }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Position</mat-label>
        <input
          required
          matInput
          placeholder="Software Developer"
          name="position"
          [(ngModel)]="enteredPosition"
          #position="ngModel"
        />
        @if (position.invalid && (position.dirty || position.touched)) {
        <mat-error> Position Name is required </mat-error>
        }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Position Type</mat-label>
        <mat-select
          required
          placeholder="Full-Time"
          name="type"
          [(ngModel)]="enteredType"
          #type="ngModel"
        >
          <mat-option value="Full-Time">Full-Time</mat-option>
          <mat-option value="Part-Time">Part-Time</mat-option>
          <mat-option value="Internship">Internship</mat-option>
          <mat-option value="Contract">Contract</mat-option>
        </mat-select>
        @if (type.invalid && (type.dirty || type.touched)) {
        <mat-error> Position Type is required </mat-error>
        }
      </mat-form-field>
    </p>
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input
              required
              matInput
              placeholder="San Francisco"
              name="city"
              [(ngModel)]="enteredCity"
              #city="ngModel"
            />
            @if (city.invalid && (city.dirty || city.touched)) {
            <mat-error> City is required </mat-error>
            }
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>State</mat-label>
            <input
              required
              maxlength="2"
              matInput
              placeholder="CA"
              name="state"
              [(ngModel)]="enteredState"
              #state="ngModel"
            />
            @if (state.invalid && (state.dirty || state.touched)) {
            <mat-error> State is required </mat-error>
            }
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>If you don't have a range for pay, put in same amount for both</p>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Mimimum Pay</mat-label>
            <input
              required
              matInput
              placeholder="90k/yr"
              name="minPay"
              [(ngModel)]="enteredMinPay"
              #minPay="ngModel"
            />
            @if (minPay.invalid && (minPay.dirty || minPay.touched)) {
            <mat-error> Mimimum Pay is required </mat-error>
            }
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Maximum Pay</mat-label>
            <input
              required
              matInput
              placeholder="100k/yr"
              name="maxPay"
              [(ngModel)]="enteredMaxPay"
              #maxPay="ngModel"
            />
            @if (maxPay.invalid && (maxPay.dirty || maxPay.touched)) {
            <mat-error> Maximum Pay is required </mat-error>
            }
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>
      <mat-form-field>
        <mat-label>Link to Company Site</mat-label>
        <input
          required
          matInput
          placeholder="https://www.google.com/"
          name="linkToCompanySite"
          [(ngModel)]="enteredLinkToCompanySite"
          #linkToCompanySite="ngModel"
        />
        @if (linkToCompanySite.invalid && (linkToCompanySite.dirty ||
        linkToCompanySite.touched)) {
        <mat-error> Maximum Pay is required </mat-error>
        }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Link to Job Post</mat-label>
        <input
          matInput
          placeholder="https://www.google.com/"
          name="linkToJobPost"
          [(ngModel)]="enteredLinkToJobPost"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Date Applied</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [formControl]="dateApplied"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (dateApplied.invalid && (dateApplied.dirty || dateApplied.touched))
        {
        <mat-error> Date applied is required </mat-error>
        }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field style="width: 30rem">
        <mat-label>Job Description</mat-label>
        <textarea
          required
          matInput
          placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna."
          name="descriptionOfJob"
          [(ngModel)]="enteredDescriptionOfJob"
          #descriptionOfJob="ngModel"
        ></textarea>
        @if (descriptionOfJob.invalid && (descriptionOfJob.dirty ||
        descriptionOfJob.touched)) {
        <mat-error> Description is required </mat-error>
        }
      </mat-form-field>
    </p>

    <p>
      <mat-checkbox [(ngModel)]="applicationClosed" name="closed"
        >Application Closed</mat-checkbox
      >
    </p>

    <p>
      <mat-form-field>
        <mat-label>Closed Reason</mat-label>
        <mat-select
          name="closedReason"
          [(ngModel)]="enteredClosedReason"
          [disabled]="!applicationClosed"
          [required]="applicationClosed"
          #closedReason="ngModel"
        >
          <mat-option value="Not hiring">Not hiring</mat-option>
          <mat-option value="Position already filled"
            >Position already filled</mat-option
          >
          <mat-option value="Looking for other people"
            >Looking for other people</mat-option
          >
          <mat-option value="Declined by self">Declined by self</mat-option>
          <mat-option value="Interview">Interview</mat-option>
          <mat-option value="Accepted">Accepted</mat-option>
        </mat-select>
        @if (applicationClosed && closedReason.invalid && (closedReason.dirty ||
        closedReason.touched)) {
        <mat-error> Reason is required </mat-error>
        }
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Date Closed</mat-label>
        <input
          matInput
          [matDatepicker]="closedDate"
          name="dateClosed"
          [disabled]="!applicationClosed"
          [required]="applicationClosed"
          [(ngModel)]="enteredClosedDate"
          #dateClosed="ngModel"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="closedDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #closedDate></mat-datepicker>
        @if (applicationClosed && dateClosed.invalid && (dateClosed.dirty ||
        dateClosed.touched)) {
        <mat-error> Date closed is required </mat-error>
        }
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="onAddButtonClick(applicationForm)"
    cdkFocusInitial
  >
    Submit
  </button>
</mat-dialog-actions>
