<section>
  <nav>
    <div id="group">
      <img src="" alt="Application Tracker Image" />
      <form>
        <mat-form-field>
          <div class="search-container">
            <mat-icon fontIcon="search"></mat-icon>
            <input matInput placeholder="Search Applications" />
          </div>
        </mat-form-field>
      </form>
    </div>
    <div id="groupLinks">
      @if (!isLoggedIn) {
      <a mat-button (click)="openLoginDialog()">Log In</a>
      <a mat-raised-button (click)="openSignUpDialog()">Sign Up</a>
      } @else {
      <a mat-button>Sign Out</a>
      }
    </div>
  </nav>
</section>
<mat-divider></mat-divider>
