section {
  padding-left: 5%;
  padding-right: 5%;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
}

app-application {
  width: 30%;
  margin-right: 3.3%;
}


span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
  width: 15%;
}
