<section>
  <header>
    <h4>Ongoing Applications</h4>
    <button mat-raised-button>Show All</button>
  </header>
  <div>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Cyber Innovation Center</mat-card-title>
        <mat-card-subtitle>Software Developer - Intern</mat-card-subtitle>
        <mat-card-subtitle>Shreveport, LA</mat-card-subtitle>
        <mat-card-subtitle
          >Position for a Softare/Web Developer that does contract work for the
          Air Force...</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
