section {
  padding-left: 5%;
  padding-right: 5%;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content:end;
}

app-application {
  width: 30%;
  margin-right: auto;
}
