section {
  padding-left: 5%;
  padding-right: 5%;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#pie {
  width: 25%;
}

.charts {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-around;
}
